body {
  margin: 0;
  padding: 0;
  background-color: #7156a5;
}

/*-----------HEADER----------------*/

header {
  background: rgb(240, 231, 214);
  background: linear-gradient(
    174deg,
    rgba(240, 231, 214, 1) 24%,
    rgba(199, 153, 78, 1) 91%
  );
}
#header-title {
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
}

#header-title > h1,
h3 {
  margin: 0;
  margin-top: 7px;
}

nav {
  display: flex;
  justify-content: flex-start;
}
.nav-item {
  text-decoration: none;
  margin: 8px;
  margin-bottom: 0;
}

.nav-item:hover {
  cursor: pointer;
  color: white;
}

/*---------Home Page-----------*/
/*Home Form Wrapper*/
.home-form {
  display: flex;
  justify-content: center;
}
/*Home Form*/
.home-form > form {
  display: flex;
  flex-direction: column;
  width: 65vw;
  box-sizing: border-box;
  border-radius: 5px;
  background-color: #133562;
}
/*targeting title input on form*/
#title-input {
  margin-top: 0;
}
/*text area*/
#home-text {
  resize: vertical;
  margin-top: 5px;
  border: none;
  background-color: #e9dbc0;
}

#home-text:placeholder-shown {
  color: #7156a5;
}

/* title and author input*/
.home-input {
  height: 3vh;
  margin-top: 5px;
  border: none;
  background-color: #e9dbc0;
}
/* .home-input:active {
  border: 1.5px solid #133562;
} */

.home-input:placeholder-shown {
  color: #7156a5;
}

label,
legend {
  color: #c69546;
}

.checkbox:hover {
  cursor: pointer;
}

/*Home Page section title*/
.page-title {
  text-align: center;
}

/*Submit Button*/
.submit-wrapper {
  display: flex;
  justify-content: flex-end;

  margin-top: 8px;
}

.submit {
  width: 15vw;
  font-size: 1.3em;
  color: #c69546;
  background: none;

  border-radius: 5px;
  border: 2px solid #c69546;
}

.submit:hover {
  color: white;
  cursor: pointer;
}

/*-------Read Page----------*/

#read-page-wrapper {
  display: grid;
  grid-template-rows: auto(auto, 1fr);
}

/*--------------Edit Page-----------------*/
/*Edit Form Wrapper*/
.edit-form {
  display: flex;
  justify-content: center;
}
/*Edit Form*/
.edit-form > form {
  display: flex;
  flex-direction: column;
  width: 50vw;
  box-sizing: border-box;
  border-radius: 5px;
  background-color: #133562;
}

.delete-form-wrapper {
  border: 1px solid red;
}

#delete-form {
  border: 1px solid red;
}

#delete {
  width: 15vw;
  font-size: 1.3em;
  color: #c69546;
  background: none;

  border-radius: 5px;
  border: 2px solid #c69546;
}

#delete:hover {
  color: white;
  cursor: pointer;
}
